{% extends 'backend/base.html' %}
{% load static %}

{% block title %}
Views Users
{% endblock %}

{% block  content %}

<h1>View Categories</h1>
<table class="table table-bordered">
    <tr>
        <th>Category Name</th>
        <th>Category Description</th>
        <th colspan="3">Action</th>
    </tr>
    {% if cat %}
        {% for c in cat %}
            <tr>
                <td>{{ c.cat_name }}</td>
                <td>{{ c.cat_desc }}</td>
                <td>
                    <a href="#">View</a>
                </td>
                <td>
                    <a href="{{ c.id }}">Edit</a>
                </td>
                <td>
                    <a href="#">Delete</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

{% endblock %}