{% extends 'backend/base.html' %}
{% load static %}

{% block title %}
Views Users
{% endblock %}

{% block  content %}

<h1>View Users</h1>
<table class="table table-bordered">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th colspan="2">Action</th>
    </tr>
    {% if users %}
        {% for u in users %}
            <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.first_name }}</td>
                <td>{{ u.last_name }}</td>
                <td>
                    <a href="#">Edit</a>
                </td>
                <td>
                    <a href="#">Delete</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

{% endblock %}