{% extends 'frontend/base.html' %}
{% block title %}
Contact Us
{% endblock %}

{% block content %}
<!-- END OF SITE MENU -->
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>Contact</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9 text-center" id="mainContent">
      <div class="row">
        <div class="col-sm-12">
          <form class="form" method="post"  enctype="multipart/form-data">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="labelName">Name</label>
                  <input type="text" name="name" id="labelName" placeholder="Your Name" class="form-control">
                </div>
              </div>
              <!-- END OF NAME -->
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="labelEmail">Email</label>
                  <input type="email" name="email" id="labelEmail" class="form-control" placeholder="Your Email">
                </div>
              </div>
            </div>
            <div class="row">
              <!-- END OF EMAIL -->
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="labelReferer">Referer</label>
                  <select id="labelReferer" class="form-control" name="referer">
                    <option value="Facebook">Facebook</option>
                    <option value="Twitter">Twitter</option>
                    <option value="Instagram">Instagram</option>
                    <option value="Nairaland">Nairaland</option>
                    <option value="" selected>Please Choose</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Gender</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <label>
                    <input type="radio" name="gender" value="Male">
                    Male
                  </label>
                  <label>
                    <input type="radio" name="gender" value="Female">
                    Female
                  </label>
                </div>
              </div>
            </div>
            <!-- END OF GENDER -->

           
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="labelMessage">Message</label>
                  <textarea name="message" id="labelMessage" class="form-control"> </textarea>
                </div>
              </div>
              <input type="submit" name="send" value="Send" class="btn btn-primary">
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
    {% include 'frontend/sidebar.html' %}
    <!-- END OF ASIDE CONTENT -->
  </div>
</section>
{% endblock %}