{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<section id="banner">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-9 text-center">
      <div class="caption">
        <h1>Join Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus, esse ex molestias maiores. Provident
          nam totam modi, expedita quos sit voluptates distinctio porro illo esse asperiores, animi eveniet ipsam?
        </p>
        <a href="#" class="btn btn-primary">Readmore</a>
      </div>
    </div>
  </div>
</section>
<section id="services" class="text-center">
  <div class="page-header">
    <h1>Our Team</h1>
  </div>
  <div class="row">
    {% if about %}
      {% for ab in about %}
      <div class="col-sm-4">
        <img src="{{ ab.bio_img.url }}" alt="" class="img-responsive">
        <h1>{{ ab.bio_title  }}</h1>
        <p>
          {{ ab.bio_description }}
        </p>
        <a href="{% url 'frontend:detail_about' ab.id %}" class="btn btn-primary">Readmore</a>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</section>

<section id="blog" class="text-center">
  <div class="page-header">
    <h1>Our Blog</h1>
  </div>
  <div class="row">
    {% if post %}
    {% for pt in post %}
    <div class="col-sm-4">
      <img src="{{ pt.img_url }}" alt="" class="img-responsive">
      <h1>{{ pt.pst_title  }}</h1>
      <p>
        {{ pt.content|truncatewords:30 }}
      </p>
      <a href="{% url 'frontend:single_blog' pt.id %}" class="btn btn-primary">Readmore</a>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</section>
{% endblock %}

