{% extends 'frontend/base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}
<!-- END OF SITE MENU -->
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>Login</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9 text-center" id="mainContent">
      <div class="row">
        <div class="col-sm-12">
          <form class="form" method="post">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="labelUser">Username</label>
                  <input type="text" name="username" id="labelUser" placeholder="Your Username" class="form-control">
                </div>
              </div>
              <!-- END OF NAME -->
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="labelPass">Password</label>
                  <input type="password" name="email" id="labelPass" class="form-control" placeholder="Your Password">
                </div>
              </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Login">
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
    {% include 'frontend/sidebar.html' %}
    <!-- END OF ASIDE CONTENT -->
  </div>
</section>
{% endblock %}