<aside class="col-sm-3" id="sideBar">
    <div class="widget">
        <h3>Search Form</h3>
        <form action="#" method="GET">
            <div class="form-group">
                <input type="text" id="search" name="search" class="form-control" placeholder="Site Search">
            </div>
            {% csrf_token %}
            <input type="submit" class="btn btn-warning btn-block" value="Search">
        </form>
    </div>
    <div class="widget">
        <h3>Menu</h3>
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Product</a></li>
        </ul>
    </div>
    <div class="widget">
        <h3>Branches</h3>
        <ul class="nav">
            <li><a href="#">Ikeja</a></li>
            <li><a href="#">Festac</a></li>
            <li><a href="#">Surulere</a></li>
            <li><a href="#">Lekki</a></li>
            <li><a href="#">Ajah</a></li>
        </ul>
    </div>
</aside>