{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
{{ detail.pst_title }}
{% endblock %}

{% block content %}
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>{{ detail.pst_title }}</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9 text-center" id="detailContent">
      {% if detail %}
        <div class="contain-img">
          <div class="img-div" style="height: 250px">
            <img src="{{ detail.img_url }}" class="img-responsive">
          </div>
          <p>
            Time:{{ detail.created|date:'H:i:a' }}, Category:<a href="sport.html">Sport.</a>.
            Post By: <a href="#">{{ detail.user.first_name }}</a>
          </p>
        </div>
        <div class="detail-content">
          <h2>{{ detail.pst_title }}</h2>
          <p>
           {{ detail.content }}
          </p>
        </div>
      {% endif %}

      <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
     

    </div>
   {% include 'frontend/sidebar.html' %}
  </div>
</section>
{% endblock %}
